doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .header
      .topHeader
        .homeName
          .title 
            .members Members
            .only Only
        .userArea
          if currentUser
            .signedInUser
              .profilePicture
                img(src="/images/" + currentUser.username + '.jpg', alt="Profile picture of " + currentUser.firstName + ' ' + currentUser.lastName)
              .userRightBlock
                .memberStatus= currentUser.isAdmin ? 'Admin' : currentUser.isMember ? 'Member' : 'Nobody'
                .userName= currentUser.firstName + ' ' + currentUser.lastName
                .userSignOut
                  a(href='/messageboard/sign-out')= 'Sign out'
          else
            .signInOrUp
              a(href='/messageboard/sign-in') Sign in
              | #{' or '}
              a(href='/messageboard/sign-up') Sign up
      .bottomHeader
        .headerLinks
          .headerLeft
            a(href='/messageboard/') Home
          .headerRight
            a(href='/messageboard/post') Post
    block content
